body {
	background-color: #121212;
	color: #ffffff;
}

.top-nav-bar {
	height: 15%;
	width: 80%;
	
	display: flex;
	position: fixed;
	z-index: 1;
	
	background-color: #355890;
	
	top: 0;
	left: 0;
	
	overflow-y: hidden;
}

.top-nav-bar-content {
	height: 15%;
	width: 80%;
	
	display: flex;
	position: fixed;
	z-index: 1;
	
	top: 0;
	left: 0;
	padding: 1%;
	
	overflow-y: hidden;
}

.main-space {
	height: 85%;
	width: 80%;
	
	display: flex;
	position: fixed;
	
	background-color: #286364;
	
	bottom: 0;
	left: 0;
	
	overflow-y: scroll;
}

.main-content {
	height: 80%;
	width: 80%;
	
	display: flex;
	position: fixed;
	
	bottom: 0;
	left: 0;
	
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	
	overflow-y: scroll;
}

.ui-sidebar {
	height: 100%;
	width: 20%;
	
	display: flex;
	position: fixed;
	z-index: 1;
	
	background-color: #6923ff;
	
	top: 0;
	right: 0;
	
	overflow-x: hidden;
}

.ui-sidebar-content {
	height: 100%;
	width: 18%;
	
	position: fixed;
	z-index: 1;
	
	top: 0;
	right: 0;
	padding-top: 1%;
	padding-right: 1%;
}